oneneuron/.classpath
oneneuron/.project
oneneuron/.settings/
oneneuron/target/

madaline/.classpath
madaline/.project
madaline/.settings/
madaline/target/

genetic/.classpath/
genetic/.project/
genetic/.settings/
genetic/target/
genetic/test-output/

